* {
  margin: 0;
  padding: 0;
}

ul {
  background-color: #60a1a1;
  list-style-type: none;
  width: 100%;
  overflow: hidden;
}

li a {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}
.drop_content {
  display: none;
  position: absolute;
  /* left: 134px; */
  min-width: 70px;
  margin-left: 20px;
}
li .dropdown {
  display: block;
}
.drop_content a {
  display: block;
  color: black;
  background-color: #60a1a1;
  padding: 12px 16px;
  text-align: left;
}

.dropdown:hover .drop_content {
  display: block;
}
@media screen and (min-width: 425px) and (max-width: 3000px) {
  ul li {
    float: left;
  }
  li a {
    padding: 10px;
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  .drop_content {
    display: none;

    position: relative;
    left: 135px;
    width: 30%;
    background-color: #60a1a1;
  }
  .drop_content a {
    color: rgb(0, 0, 0, 0.5) !important;
  }
  .drop_content a:hover {
    color: rgba(0, 0, 0, 1) !important;
  }
}
@media screen and (min-width:320px) and (max-width: 374px) {
  .drop_content {
    display: none;

    position: relative;
    left: 110px;
    width: 30%;
    background-color: #60a1a1;
  }
  .drop_content a {
    color: rgb(0, 0, 0, 0.5) !important;
  }
  .drop_content a:hover {
    color: rgba(0, 0, 0, 1) !important;
  }
}
