* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
 
    font-family: "Poppins", sans-serif;
  }
  #productContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:15px;
    padding: 15px;
  }
  .product-card {
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
   
  }

  .title_pr
  {
      display: flex;
      justify-content: space-between;

  }
  .title
  {
    width: 80%;
    font-weight: bold;
  }
  .time_rate
  {
      display: flex;
      justify-content: space-between;
      
  }
  .pr
  {
    border: 2px solid green;
    border-radius: 5px;
    padding: 3px;
    color: green;
    font-weight: bold;
  }
  .img img
  {
      object-fit: cover;
      width:100%;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
  }
  .sc
  {
    padding: 15px;
  }
  .location
  {
      border-bottom: 0.5px gray solid;
      font-size: 10px;
      color: gray;
      padding-bottom: 10px;
  }
 
  .time
  {
    color: gray;
  }
  .time_rate
  {
    padding-top: 10px;
  }
  
  .res_image
  {
    height: 200px;
    width: 200px;
  }
 @media screen and (max-width:400px) {
    #productContainer
    {
        display: grid;
        grid-template-columns: auto;
        
    }
    
 }
 