<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <div class="container">
        <div class="subcontainer">
            <div class="nav">
                <div class="logo">
                    <img src="logo.png" alt="logo" height="30px">
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="btn">
                    <button class="button">LOGIN</button>
                    <button class="button">REGISTER</button>
                </div>
            </div>
            <div class="content">
                <h1>Hello
                    <br>It's Me Coderboy
                </h1>
                <p class="alternate-colors">I'm A Web Developer & Designer. I Will Make Your Projects Beautiful And Attractive,<br> You Can Find Me
                    On GitHub.</p>
                    <span><button class="button1"><h2>Hire Me</h2></button></span>
            </div>
        </div>
    </div>
</body>

</html>

