*
{
    margin: 0;
    padding: 0;

}
body
{
    color: white;
    background-image: url('pxfuel_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
.container
{
    height: 700px;
    width: 100%;
  
    display: flex;
    justify-content: center;
}
.subcontainer
{
    width: 80%;
}
.nav
{
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 20px 0;
    align-items: center;
}
.logo img
{
    height: 50px;
    filter: contrast(2%);
}

.menu ul
{
    list-style-type: none;
    display: flex;
}
.menu ul li 
{
    display: inline;
}
.menu ul li a{
    text-decoration: none;
    padding: 15px;
    color: rgb(255, 255, 255);
    font-size:larger; 
}
.menu ul li a:hover
{
    color: #28e1f2;
}
.button
{
    
    padding: 5px 24px;
    border: none;
    border:2px solid white;
    border-radius: 30px;
    background-color:#28e1f2;
    margin-left: 10px;
    font-size: larger;
    box-shadow: 1px 1px 20px lightcoral;
}
.button1
{
    
    padding: 5px 24px;
    border: none;
    border:2px solid white;
    border-radius: 10px;
    background-color:white;
    
    
}
.button1:hover
{
    box-shadow: 1px 1px 20px #5df3fa;
}
.content
{
    height:600px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content h1
{
    font-size: 2cm;
}
.content p
{
    font-size: larger;
    color: #5df3fa;
    margin-bottom: 20px;
}

