<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="horizontalnav.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <h1>WEB DESIGNING</h1>
    </div>

    <div class="nav">
      <ul>
        <li><a href="#">HOME</a></li>
        <li class="dropdown">
          <a class="dropbtn">SERVICES</a>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
        <li><a href="#">GALLARY</a></li>
        <li><a href="#">ABOUT US</a></li>
        <li><a class="active" href="login.html">LOGIN</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="column side">
        <h2>Side</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
      </div>

      <div class="column middle">
        <h2>Main Content</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit
          amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget
          elementum magna tristique. Quisque vehicula, risus eget aliquam
          placerat, purus leo tincidunt eros, eget luctus quam orci in velit.
          Praesent scelerisque tortor sed accumsan convallis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit
          amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget
          elementum magna tristique. Quisque vehicula, risus eget aliquam
          placerat, purus leo tincidunt eros, eget luctus quam orci in velit.
          Praesent scelerisque tortor sed accumsan convallis.
        </p>
      </div>

      <div class="column side">
        <h2>Side</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
      </div>
    </div>

    <div class="footer">
      <p>
        COPYRIGHT &COPY; 2023 CREATED BY WEB DESIGNING . ALL RIGHTS RESERVED
      </p>
    </div>
  </body>
</html>
