<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="horizontalnav.css" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
  
        <h1>WEB DESIGNING</h1>
      
     </div>
    <div class="nav">
      <ul>
        <li><a href="horizontalnav.html">HOME</a></li>
        <li class="dropdown">
          <a class="dropbtn">SERVICES</a>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
        <li><a href="#">GALLARY</a></li>
        <li><a href="#">ABOUT US</a></li>
        <li style="float: right"><a class="active" href="#">LOGIN</a></li>
      </ul>
    </div>
    <div class="main">
      <div class="form">
        <h1>LOG IN</h1>
        <form action="horizontalnav.html">
          <label for="email">EMAIL</label>
          <input
            type="email"
            name="enm"
            id="enm"
            placeholder="ENTER YOUR NUMBER OR EMAIL ID"
          />

          <label for="pass">PASSWORD</label>
          <input
            type="password"
            name="pass"
            id="pass"
            placeholder="ENTER YOUR PASSWORD"
          />

          <input type="submit" value="SUBMIT" />
        </form>
      </div>
    </div>
    <div class="footer">
        <p>COPYRIGHT &COPY; 2023 CREATED BY WEB DESIGNING . ALL RIGHTS RESERVED</p>
      </div>
  </body>
</html>
