* {
  margin: 0;
  padding: 0;
}
body {
  font-weight: bold;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
}
div.container {
  width: 100%;
  height: 70px;
  padding: 20px;
  background-color: #fff;
}
div.main {
  display: flex;
  justify-content: space-around;
}
.navdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  margin-left: 70px;
  margin-right: 70px;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline;
}
ul li a {
  padding: 10px;
  text-decoration: none;
  margin-left: 12px;
  color: black;
}
a.search {
  position: relative;
  padding: 0;
}
a.search img {
  position: absolute;
  right: 19px;
  top: 0;
  filter: opacity(50%);

}
input[type="text"] {
  padding: 10px 10px;
  border-radius: 20px;
  background-color: #fff;
  font-style: italic;
  border: 2px solid #ccc;
}
