* {
  margin: 0;
  padding: 0;
}
body {
  font-weight: bold;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
}

div.container {
  width: 80%;
  height: auto;
  padding: 0 20px 0 20px;
  background-color: #fff;
}
div.main
{
    display: flex;
    justify-content: space-around;
}
.nav {
  display: flex;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  /*height: inherit; */
}
.nav ul {
  list-style-type: none;
}
.nav ul li {
  display: inline;
}
.sticker i {
  margin-left: 20px;
  padding: 10px 0;
}

.nav ul li a {
  margin-right: 20px;
  text-decoration: none;
  color: gray;
  font-size: 13px;
}

.navdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.menu ul {
  list-style-type: none;
}
.menu ul li {
  display: inline;
}
.menu ul li a {
  padding: 10px;
  text-decoration: none;
  color: black;
}
.menu ul li+li::before
{
    color:black;
    padding: 10px;
    content:"|\00a0"
}

