
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-weight: bold;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    background-color: #f3f3f3;}

div.container
{
    width: 80%;
    height: 80px;
    padding: 0 20px 0 20px;
    background-color: #fff;
}
div.main
{
    display: flex;
    justify-content: space-around;
}
.navdiv
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin-left: 70px;
    margin-right: 70px;
}
ul
{
    list-style-type: none;
    

}
ul li
{
    display: inline;
}
ul li a
{
    padding: 10px;
    text-decoration: none;
    margin-left: 12px;
    color: black;
}
.button1,.button2
{
    
    
    padding: 5px 24px;
    border: 2px solid gray;
    border-radius: 30px;
    background-color: #fff;
    margin-left: 10px;
    color: gray;



}