* {
  margin: 0;
  padding: 0;
}
body {
  font-weight: bold;
  font-size: 14px;

  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
}
div.main {
  display: flex;
  justify-content: space-around;
}
div.container {
    width: 100%;
    height: 20px;
    padding: 20px;
    background-color: #fff;
}
.navdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  margin-left: 100px;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline;
}
ul li a {
  padding: 10px;
  text-decoration: none;
  margin-left: 12px;
  color: black;
}
.menu1 {
  margin-left: 100px;
}
.search {
  margin-right: 40px;
}
