* {
  margin: 0;
  padding: 0;
}
body {
  font-weight: bold;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
}
div.container {
  width: 80%;
  height: auto;
  padding: 0 20px 0 20px;
  background-color: #fff;
}
div.main {
  display: flex;
  justify-content: space-around;
}
.nav {
  display: flex;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  height: 75px;
}

.sticker i {
  margin-right: 20px;
}

.nav ul li a {
  text-decoration: none;
  color: black;
}

.navdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: auto;
  margin-left: 100px;
  margin-right: 100px;
}

.menu ul {
  list-style-type: none;
}
.menu ul li {
  display: inline;
}
.menu ul li a {
  padding: 10px;
  text-decoration: none;
  margin-left: 12px;
  color: black;
}
div.search {
  position: relative;
  padding: 0;
  margin: 0;
}
div.search img {
  position: absolute;
  right: 19px;
  top: 9px;
  filter: opacity(50%);
}
input[type="text"] {
  padding: 10px 24px;

  border-radius: 20px;
  background-color: #fff;
  font-style: italic;
  border: 1px solid black;
}
