* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.main {
  width: 100%;
  height: 400px;
  background-color: #ffc63d;
  display: grid;
  place-items: center;
}
.container {
  position: relative;
  top: 100px;
  width: 80%;
  height: 700px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 3fr;
  gap: 15px;
}
.box {
  overflow: hidden;
}
#box-1 {
  grid-row: 1 / span 2;
}
#box-2 {
  grid-row: 2 / span 2;
}
#box-3 {
  grid-row: 1 / span 2;
}
#box-4 {
  grid-row: 2 / span 2;
}
#box-5 {
  grid-row: 4 / span 1;
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 15px;
  gap: 15px;
}
img {
  object-fit: fill;
}

input[type="email"] {
  padding-right: 9rem;
  line-height: 2.2;
  background-color: #fff;
  border: 2px solid #ccc;
  box-sizing: border-box;
  font-size: large;
}
input[type="submit"] {
  padding: 0 1rem;
  line-height: 2.3;
  background-color: #ffc63d;
  font-size: large;
}
input[type="submit"]:hover {
  padding: 0 1rem;
  line-height: 2.3;
  color: white;
  background-color: #000000;
  font-size: large;
}
#box-1,
#box-3 {
  animation-name: du;
  animation-duration: 2s;
  animation-iteration-count: 1;

  position: relative;
}
#box-2,
#box-4 {
  animation-name: ud;
  animation-duration: 2s;
  animation-iteration-count: 1;
  position: relative;
}
@keyframes du {
  from {
    top: 255px;
    filter: opacity(70%);
  }
  to {
    top: 0;
  }
}
@keyframes ud {
  from {
    top: -255px;
    filter: opacity(70%);
  }
  to {
    top: 0;
  }
}
span {
  font-size: large;
  font-weight: 900;
}
span:hover {
  color: #ffc63d;
}
a {
  color: #000000;
}
@media screen and (max-width: 400px) {
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #box-5 {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  input[type="email"] {
    padding-right: 0.2px;
    line-height: 2.2;
    background-color: #fff;
    border: 2px solid #ccc;
    box-sizing: border-box;
    font-size: large;
  }
  input[type="submit"] {
    margin-left: 5.5rem;
    padding: 0 2px;
    line-height: 2.3;
    background-color: #ffc63d;
    font-size: large;
  }
  input[type="submit"]:hover {
    padding: 0 2px;
    line-height: 2.3;
    color: white;
    background-color: #000000;
    font-size: large;
  }
}
