*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Poppins', sans-serif;
}
.container
{
    height:100%;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr 60px 1fr 1fr 0.5fr;       
    gap:0;
    justify-content: center;
    /* align-content:center; */
    /* align-items: center; */
    /* grid-template-areas: "hr hr hr"
                            "sidebar main main"     //2-mehod
                            "sidebar main main "
                            "ftr ftr ftr"; */

    
}
.box
{
    border:1px solid green;
}
#box-1
{
    grid-column: 1/span 3;  

    background-image: url('header.webp');
    object-fit: contain;
    filter: opacity(90%);
    color: white;   
    text-align: center;   
    padding: 15px 0;    
    font-size:xx-large;
    font-weight:lighter ;  

    /* grid-area: hr; */                
}
#nav
{
    grid-column: 1/-1;
    background-color:rgb(52, 52, 170);
}
#nav table tr td 
{
    text-align: center;
    font-size: large;
    padding: 10px 0;
}
#nav table tr td a
{
   text-decoration: none;
   color: aquamarine;
   font-size: larger;

}
#box-2
{
    /* grid-area: sidebar; */
    grid-row:3/span 3;
    /* display: grid;
    align-items: center;
    background-color: #f2f2f2;
    box-sizing: border-box; */

}
#box-3
{
    /* grid-column: 2/span 2;               //1-method
    grid-row: 2/span 3; */
    /* grid-area: main; */                  
    grid-area: 3/2/6/4;                     
    background-color: #00264c;
position: relative;
}
#box-3 img
{
    position: absolute;
    top:0;
    left:153px;
    object-fit:fill;
    height:365px;
    
    
}
#box-4
{
    /* grid-area: ftr; */
    grid-column:1/span 3;
    text-align: center;
    padding: 26px 0;
    font-size: larger;
    background-image:url('footer.png');
    color: white;

    
}
#box-2 
{
    overflow: auto;
    background-color: #696969;

}
#box-2 .sidebar ul
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
}
ul
{
    list-style-type: none;
    height: 23rem;

}
ul li
{
    display: block;
    width: 100%;
    text-align: center;
    line-height: 50px;
    background-color: #696969;


}
ul li a
{
    text-decoration: none;
    color: black;
    font-size: larger;
}
ul li:hover
{
    background-color: #969695;
}

/* #box-2 .link
{
    display: block;
    text-align: center;
    padding: 10px;
    height:70px;
    align-items: center;

}

#box-2 .link:hover{
    background-color: #b1b1b1c4;
    border-left:10px solid yellow;
} */